*{
	margin: 0px;
	padding: 0px;
	font-family: Avenir, sans-serif;
}

nav ul{
	list-style-type: none;
	text-align: center;

}


nav ul::after{
	content : "";
	display: table;
	clear: both;

}

nav li{

	float: left;
	width: calc(100%/8);

}

#justif::before {
	
	margin-left: 5px;
	content: "- ";
	color: black;
}

nav a{
	display: block;
	text-decoration: none;
	color: black;
	border-bottom : 2px solid transparent;
	padding: 10px 0px;
}

nav a:hover{
	color: white;
	border-bottom: 2px solid gold;
}

nav{
	width: 100%;
	margin : 0 auto;
	background-color: #9998A1;
	position: sticky;
	top: 0px;
}

table {
  width:50%;
  height: 5px;
  table-layout: fixed;
  border-collapse: collapse;

}
table caption {
  font-size:1.4rem;
  color:#ffff;
  background-color: #5d625c;
 /* caption-side: bottom; // top|bottom|initial|inherit; */
}
table th {
  background-color:#999690;
  color:#000000;

}
table tfoot td {
  color:#fff;
  background-color:#999690;
  border-top:1px solid #5d625c;
  border-bottom:1px solid #5d625c;
}

td#cache{
	
	border-width: 2px;
    border-top: hidden;
    border-right: hidden;
    border-bottom: hidden;

}

body
{
    background-color:#D6D5DB; /* Le fond de la page sera noir */
    color: black; /* Le texte de la page sera blanc */
}

#icone{

	width:5px;
  	height: 5px;
}

a#lien {

	text-decoration: none;
	color: blue;
}