body{
	margin: 40px;
	padding: 40px;
	font-family: Avenir, sans-serif;
}

nav ul{
	list-style-type: none;
	text-align: center;
}


nav ul::after{
	content : "";
	display: table;
	clear: both;
}


#justif::before {
	margin-left: 5px;
	content: "- ";
	color: black;
}


table {
  	width:50%;
  	height: 5px;
  	table-layout: fixed;
  	border-collapse: collapse;

}
table caption {
  	font-size:1.4rem;
  	color:#ffff;
  	background-color: #5d625c;
 	/* caption-side: bottom; // top|bottom|initial|inherit; */
}
table th {
  	background-color:#4E9EA9;
  	color:#000000;

}
table tfoot td {
  	color:#fff;
  	background-color:#999690;
  	border-top:1px solid #5d625c;
  	border-bottom:1px solid #5d625c;
}

td#cache{
	border-width: 2px;
    border-top: hidden;
    border-right: hidden;
    border-bottom: hidden;
}

#icone{
	width:5px;
  	height: 5px;
}

a#lien {
	text-decoration: none;
	color:#4E9EA9;
}

.pdf-container{
	width: 100%;
	padding: 20px;
	height: 600px;
}

.pdf-viewer{
	width: 100%;
	height: 100%;
}

form#new input[type=submit]{
	margin-top: 15px;
	margin-bottom: 30px;
	font-size: medium;
	cursor: pointer;
}

form#lien input[type=submit]{
	cursor: pointer;
	font-size: medium;
	background: none;
	border: none;
	color:#4E9EA9;
}

#bouton{
	margin-top: 30px;
}